body {
  background-color: #333; /*Dark gray*/
  color: #eee; /* Light text color for constrast*/

  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #eee;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #87CEEB;
}

a {
  color: #87CEEB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  color: #eee;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background-color: #0056b3;
}

.home-button {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 24px;
  color: #87CEEB;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  z-index: 1000;
}

.home-button:hover {
  color: #4CAF50;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
}


